<html>

    <!-- Bootstrap Core CSS -->
    <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.css') }}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
  <head>
    <title>Home</title>

    <link rel='stylesheet' href="{{ url_for('static', filename='nouislider/jquery.nouislider.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='nouislider/jquery.nouislider.pips.css') }}">
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- The noUiSlider script and stylesheet -->
<!-- Use the files with *.min.* for the minified versions. -->

<!-- Use the 'all' version to get all documented features. -->
<!-- Includes wNumb, libLink and the pips add-on -->
<script src="{{ url_for('static', filename='nouislider/jquery.nouislider.all.min.js') }}"></script>
  </head>
  <body padding="40px">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}</br>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    


{% block content %}{% endblock %}




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    -->

  </body>
</html>